<h2>Customers</h2>


<!--table class="table" border=1 cellspacing=0 cellpadding=2>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.nome}}</td>
            <td>{{customer.data}}</td>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <td>Gabriel</td>
            <td>14/11/2001</td>
            <td>gabriel@email.com</td>
        </tr>
    </tbody>
</table>

<div *ngFor="let customer of customers"> 
    <h4>{{ customer.nome }}</h4>
    <h5>{{ customer.data }}</h5>
    <h5>{{ customer.email }}</h5>
</div>

<div *ngFor="let customer of customers"> 
    <h3>Data</h3>
    <h5>{{customer.data}}</h5>
</div -->

<form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm, customerName.value, customerData.value, customerEmail.value)" class="formulario" >

     <h2> Customers Guest Card </h2>

     <div>
         <label for="customerName">Name:</label>
        <input #customerName="ngModel" ngModel name="customerName" required placeholder="Customer Name" />

     </div>
     
     <div class="field">
        <label for="customerData">Birthday:</label>
        <input #customerData="ngModel" ngModel name="customerData" required placeholder="Customer Birthday"/>

     </div>

     <div class="field">
         <label for="customerEmail">Email:</label>
        <input #customerEmail="ngModel" ngModel name="customerEmail" required placeholder="exemple@gmail.com" />
        
     </div>
    <button type="submit" [disabled]="!customerForm.valid">Submit</button>

</form>

<div *ngFor="let customer of customers">
    <h3>
        <a [title]="customer.name + 'details'">
            {{ customer.name }}
        </a>
    </h3>
    <p *ngIf="customer.data + 'details'">
        Birthday: {{ customer.data }}
    </p>
    <p *ngIf="customer.email + 'details'">
        Email: {{ customer.email }}
    </p>
</div>

